@model List<DTLoanManagment.Models.ViewModels.UserRolesViewModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Users";
}
<h2>@ViewData["Title"]</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ManageUserRoles" asp-route-userId="@user.UserId">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>